<main>
    <%= render "layouts/header" %>

    <div class="col-9 mx-auto py-md-5">
        <div class="row fs-5 p-3 bg-light border rounded-3">
            <div class="col">
                <%= render "layouts/photos" %>
            </div>
        </div>
    </div>

    <%= render "layouts/footer" %>
</main>
