<main>
    <%= render "layouts/header" %>

    <div class="col-9 mx-auto py-md-5">

        <h2><%= @title %></h2>
        
        <div class="col">
            <% @photos.each_slice(3) do |slice| %>
            <div class="row mt-4">

                <% slice.each do |photo| %>
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <%= image_tag "#{@collection_name}/#{photo}", loading: "lazy", class: "w-100 shadow-lg rounded mb-4" %>
                </div>
                <% end %>
                
            </div>
            <% end %>

        </div>
    </div>

    <%= render "layouts/footer" %>
</main>
