<main>
    <%= render "layouts/header" %>
    <div class="container px-4 py-2">

        <div class="row justify-content-center py-3">
            <div class="col-md-8">
                <div class="card border-success-subtle">
                    <div class="card-body">
                        <h5 class="card-title">Фотопрогулянка</h5>
                        <h6 class="card-subtitle mb-2 text-muted">До 2-х годин зйомки</h6>
                        <div class="card-text pt-2">
                            <ul>
                                <li>Допомога у виборі локації</li>
                                <li>Допомога у виборі одягу (консультація онлайн)</li>
                                <li>70+ фотографій в обробці</li>
                                <li>Перші 5 фото у день зйомки</li>
                                <li>Готовий результат протягом тижня</li>
                                <li>Готові фото надішлю в електронному форматі з інструкцією для завантаження на комп’ютер</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">Ціна: 2000 грн</div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center py-3">
            <div class="col-md-8">
                <div class="card border-warning-subtle">
                    <div class="card-body">
                        <h5 class="card-title">Студійна зйомка</h5>
                        <h6 class="card-subtitle mb-2 text-muted">У студії діє погодинна оплата</h6>
                        <div class="card-text pt-2">
                            <ul>
                                <li>Допомога у виборі студії</li>
                                <li>Допомога у виборі одягу. Можемо підібрати кілька образів (консультація онлайн).</li>
                                <li>З однієї години зйомки ви отримаєте 40 фотографій в обробці</li>
                                <li>Перші 5 фото у день зйомки</li>
                                <li>Готовий результат протягом тижня</li>
                                <li>Готові фото надішлю в електронному форматі з інструкцією для завантаження на комп’ютер</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">Ціна однієї години: 1200 грн</div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center py-3">
            <div class="col-md-8">
                <div class="card border-primary-subtle">
                    <div class="card-body">
                        <h5 class="card-title">Домашня фотосесія</h5>
                        <h6 class="card-subtitle mb-2 text-muted">2-2,5 години зйомки</h6>
                        <div class="card-text pt-2">
                            <ul>
                                <li>Допомога у виборі одягу (консультація онлайн)</li>
                                <li>70+ фотографій в обробці</li>
                                <li>Перші 5 фото у день зйомки</li>
                                <li>Готовий результат протягом тижня</li>
                                <li>Готові фото надішлю в електронному форматі з інструкцією для завантаження на комп’ютер</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">Ціна: 2000 грн</div>
                </div>
            </div>
        </div>

    </div>  

    <%= render "layouts/footer" %>
</main>
