<footer class="container">
    <p class="fs-5">&copy; Марина Селегень &middot; <a href="https://www.facebook.com/selegen.marina" target="_blank"><i class="bi bi-facebook"></i></a> &middot; <a href="https://www.instagram.com/marinaselegen" target="_blank"><i class="bi bi-instagram"></i></a></p>
</footer>
