<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "ПОРТФОЛІО", root_url, class: "nav-link #{ is_active('index')}" %>
      </li>
      <li class="nav-item">
        <%= link_to "ЦІНИ", prices_url, class: "nav-link #{ is_active('prices')}" %>
      </li>
      <li class="nav-item">
        <%= link_to "КОНТАКТИ", contacts_url, class: "nav-link #{ is_active('contacts')}" %>
      </li>
    </ul>
  </header>
</div>
